<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>Finance Tracker</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">

   <link rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 
         
         <style>
          body{
            background-color: #f5f7fa;
          }
          
          .btn{
        border-radius: 10px;
        width: auto;
        }

        .btn-success {
            padding: 6px 16px;
        }

        .btn-sm {
            padding: .4rem .8rem;
        }
        
        .card {
        border-radius: 15px;
        overflow: hidden;
        transition: transform .2s;
        }

        .card:hover {
            transform: translateY(-2px);
        }

        .table td,
        .table th {
            vertical-align: middle;
        }

</style>

</head>

<body class="bg-light">

<!--Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">

    <div class="container">

        <a class="navbar-brand fw-bold" href="/">
            <i class="bi bi-wallet2"></i>
            Personal Finance Tracker
        </a>

    </div>

</nav>    

<div class="container mt-4">

  <div class="row">
    <!--LEFT COLUMN-->
     <div class="col-lg-8">

    <!-- Add + Export + Search -->
    <div class="row g-3 mb-4 align-items-center">

        <div class="col-md-auto">

        <div class="d-flex gap-2">
           
            <a href="/add"
               class="btn btn-success btn-sm shadow-sm px-3">
               <i class="bi bi-plus-circle"></i>
              Add Transaction
           </a>

           <a href="/clear"
              class="btn btn-outline-danger btn-sm shadow-sm"
              onclick="return confirm('Delete All transactions? This will permanently delete all transactions.')">

              <i class="bi bi-trash3"></i>
              Clear All
            </a> 

           <a href="/export"
              class="btn btn-outline-success btn-m shadow-sm">

              <i class="bi bi-download"></i>

              Export CSV
            </a>

         </div>
            
    </div>
    
    <div class="col">

        <form method="GET">

            <div class="input-group">

                <input type="text"
                       name="search"
                       class="form-control"
                       placeholder="Search category, type, amount..."
                       value="{{search}}">

                <button type="submit"
                        class="btn btn-primary">
                    <i class="bi bi-search"></i>
                        Search
                </button>  

                 <a href="/"
                   class="btn btn-secondary">
                    <i class="bi bi-x-circle"></i>
                    Clear
                </a>

            </div>

        </form>  
        
      </div>  
            
    </div>
        
    <!--Transactions Table-->
    <div class="card shadow border-0">

        <div class="card-header">
            <h4 class="mb-0">
            Transactions
            </h4>
        </div>

        <div class="card-body">
                
            <div class="table-responsive">
                    
                 <table class="table table-striped table-hover align-middle">
                        
                    <thead class="table-dark">
                            
                        <tr>
                                
                            <th>Date</th>
                            <th>Type</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Actions</th>
                            
                        </tr>
                        
                    </thead>
                        
                     <tbody>

                        {% if transactions %}
                            
                          {% for t in transactions %}
                            
                           <tr>
                                
                               <td>{{t.date}}</td>
                                
                                <td>
                                    
                                    {% if t.type == "income" %}
                                    
                                    <span class="badge bg-success">
                                        Income
                                    </span>

                                    {% else %}

                                    <span class="badge bg-danger">
                                     Expense
                                    </span>

                                    {% endif %}
                                </td>

                                <td>{{t.category}}</td>

                                <td>€ {{t.amount}}</td>

                                <td>

                                  <a href="/edit/{{t.id}}"
                                   class="btn btn-warning btn-sm">
                                  <i class="bi bi-pencil-square"></i>

                                   Edit

                                  </a>

                                  <a href="/delete/{{t.id}}"
                                  class="btn btn-danger btn-sm"
                                 onclick="return confirm('Delete this transaction?')">
                                    <i class="bi bi-trash"></i>

                                   Delete

                                    </a>

                                </td>

                            </tr>

                    {% endfor %}

                    {% else %}

                    <tr>
                        <td colspan="5">
                            <div class="alert alert-info mb-0">
                                <i class="bi bi-info-circle"></i>
                                No transactions found.
                            </div>
                        </td>
                    </tr>

                    {% endif %}

                </tbody>

            </table>

        </div>
           
    </div>

    </div>

  </div>

 

    <!--RIGHT COLUMN-->

    <div class="col-lg-4">

        <div class="card shadow border-0 text-bg-success mb-3">
           
            <div class="card-body">

                <h5>
                    <i class="bi bi-arrow-up-circle"></i>
                    Income
                </h5>

                <h2>€ {{income_total}} </h2>

            </div>

        </div>

        <div class="card shadow border-0 text-bg-danger mb-3">
           
            <div class="card-body">

                <h5>
                    <i class="bi bi-arrow-down-circle"></i>
                    Expenses
                </h5>

                <h2>€ {{expense_total}} </h2>

            </div>

        </div>

    

        <div class="card shadow border-0 text-bg-primary mb-3">
           
            <div class="card-body">

                <h5>
                    <i class="bi bi-piggy-bank"></i>
                    Balance
                </h5>

                <h2>€ {{balance}} </h2>

            </div>

        </div>

        <!--Charts Button-->

        <button class="btn btn-outline-primary btn-lg w-100"
                type="button"
                id="chartsButton"
                data-bs-toggle="collapse"
                data-bs-target="#chartsSection"
                aria-expanded="false">

                <i class="bi bi-bar-chart"></i>
                Show Financial Charts

        </button>

    </div>

    </div>

    <!--Charts-->
    <div class="collapse mt-4" id="chartsSection">

        <div class="row">

            <div class="col-md-6">

                <div class="card shadow">

            <div class="card-header">
                <h4 class="mb-0">Expense Breakdown</h4>
            </div>

            <div class="card-body text-center">

                <img 
                    src="{{url_for('static', filename='chart.png')}}"
                    class="img-fluid"
                    alt="Expense Breakdown">

            </div>

        </div>
    
    </div>

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header">
                <h4 class="mb-0">Income vs Expense</h4>
            </div>

            <div class="card-body text-center">

                <img 
                src="{{url_for('static', filename='income_expense.png')}}"
                class="img-fluid"
                alt="Income vs Expense">   
                
            </div>

        </div>

    </div>

</div>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script>

document.addEventListener("DOMContentLoaded", function()
{
    const chartsSection = document.getElementById("chartsSection");
    const chartsButton = document.getElementById("chartsButton");

    chartsSection.addEventListener("shown.bs.collapse", function(){
        chartsButton.innerHTML = '<i class="bi bi-x-circle"></i> Hide Financial Charts';
    });

    chartsSection.addEventListener("hidden.bs.collapse", function()
    {
        chartsButton.innerHTML='<i class="bi bi-bar-chart"></i> Show Financial Charts';
    }
    );
});

</script>

<footer class="text-center text-muted mt-5 mb-3">
    <hr>
      <small>
        <i class="bi bi-wallet2"></i>
        Personal Finance Tracker © 2026
      </small>
</footer>
</body>    
</html>